<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>Access Token: <%= @access_token %></p>
<p>User Page: <%= link_to "#{@user.name}", @user %></p>
<h1><%= link_to 'Create a story!', new_story_path %></h1>
