<div id="background">
  <%= image_tag "background.png", :class => "stretch" %>
    <div id="fullDiv">
        <div class="logo">
          <%= image_tag "camera2.png", :height => "100%" %>
        </div>
        <div id="centercontent">
          <p id="notice"><%= notice %></p>
            <div id="tagline">
                What crazy adventures will you and your friends get up to next?
            </div>
            <div id="actionitem">
                <%= link_to 'Create a story!', new_story_path %>
            </div>
        </div>
        <div id="quote">
            "Lisa and Sabrina ran for cover from the giant sock monkey..."
        </div>
    </div>
</div>
