
  <div class="color-change" id="left"></div>
  <div class="color-change" id="right"></div>
  <div class="color-change" id="top"></div>
  <div class="color-change" id="bottom"></div>
  <div class="logo">
    <%= image_tag "camera2.png", :height => "100%" %>
  </div>
  <div class="storyplotDiv">
      <%= raw(@story.body) %>
  </div>

