<div id="background">
  <%= image_tag "background.png", :class => "stretch" %>
  <div id="fullDiv2">
    <%= raw(@story.body) %>
    <div style="text-align: center">
      <a href="http://www.facebook.com/share.php?u=<%=story_url(@story) %>"><img src="/assets/fshare2.jpg" border="0" /></a>
      <h2><a href="http://picturethishappening.com">Create a New Story</a></h2>
    </div>
  </div>
</div>

