<div id="background">
  <%= image_tag "background.png", :class => "stretch" %>
  <div id="fullDiv2">

    <div class="logo">
      <%= link_to(image_tag("camera2.png", :height => "100%"), welcome_index_path) %>
    </div>
      <%= raw(@story.body) %>
  </div>

</div>

