<!DOCTYPE html>
<html>
<head>
  <title>PictureThis</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Load jQuery -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
 
<!-- Load ScrollTo -->
<script type="text/javascript" src="http://flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.2-min.js"></script>
 
<!-- Load LocalScroll -->
<script type="text/javascript" src="http://flesler-plugins.googlecode.com/files/jquery.localscroll-1.2.7-min.js"></script>


<!-- javascript that will initiate jQuery and the LocalScroll plugin --><script type="text/javascript">// <![CDATA[
    // When the document is loaded...
    $(document).ready(function()
    {
        // Scroll the whole document
        $('#pulse-links').localScroll({
           target:'body'
        });
 
    });
 
// ]]></script>
 
<script src='jquery.fittext.custom.js'></script>
<script src='navigation.js'></script>

</head>
<body>

<%= yield %>

</body>
</html>
